<section>
<h1>found on</h1>

  <div class="social-media-section">
      <a href="https://github.com/ambertunnell" class="social-media-icon github" rel="tooltip" title="Github" target="_blank"><i class="social_media fa fa-github fa-2x"></i></A>
      <a href="http://stackoverflow.com/users/3826943/amber-tunnell" class="social-media-icon stackoverflow" rel="tooltip" title="Stack Overflow" target="_blank"><i class=" social_media fa fa-stack-overflow fa-2x"></i></A>
      <a href="https://careers.stackoverflow.com/ambertunnell" class="social-media-icon" class="social-media-icon" rel="tooltip" title="Stack Overflow Careers" target="_blank"><i class="social_media fa fa-stack-exchange fa-2x"></i></A>
      <a href="https://linkedin.com/in/ambertunnell/" class="linkedin" class="social-media-icon" rel="tooltip" title="Linkedin" target="_blank"><i class="social_media fa fa-linkedin fa-2x"></i></A>
      <a href="https://twitter.com/ambertunnell" class="twitter" class="social-media-icon" rel="tooltip" title="Twitter" target="_blank"><i class="social_media fa fa-twitter fa-2x"></i></A>
      <a href="https://www.behance.net/ambertunnell" class="social-media-icon" rel="tooltip" title="Behance" target="_blank"><i class="social_media fa fa-behance fa-2x"></i></A>
      <a href="http://combustingstar.deviantart.com/" class="social-media-icon" rel="tooltip" title="Deviantart" target="_blank"><i class="social_media fa fa-deviantart fa-2x"></i></A>
      <a href="http://instagram.com/ambertunnell" class="social-media-icon" rel="tooltip" title="Instagram" target="_blank"><i class="social_media fa fa-instagram fa-2x"></i></A>
 </div>   
</section>

<section>
  {% if site.email %}
  <h1>email me</h1>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% endif %}
</section>
