<section>
<h1>found on</h1>

  <div class="social-media-section">
    {% if site.github_user %}
    <a href="https://github.com/{{site.github_user}}/" class="social_media" class="github" rel="tooltip" title="Github" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-github.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/github.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-github.png'" height="45" width="45"/></A>
    {% endif %}

    {% if site.stackoverflow_user %}
    <a href="http://stackoverflow.com/users/3826943/amber-tunnell" class="social_media" class="stackoverflow" rel="tooltip" title="Stack Overflow" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-stackoverflow.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/stackoverflow.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-stackoverflow.png'" height="45" width="45" /></A>
    {% endif %}

    {% if site.linkedin_user %}
    <a href="https://linkedin.com/in/{{site.linkedin_user}}/" class="social_media" class="linkedin" rel="tooltip" title="Linkedin" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-linkedin.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/linkedin.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-linkedin.png'" height="45" width="45" /></A>
    {% endif %}

    {% if site.twitter_user %}
    <a href="https://twitter.com/{{site.twitter_user}}/" class="social_media" class="twitter" rel="tooltip" title="Twitter" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-twitter.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/twitter.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-twitter.png'" height="45" width="45" /></A>
    {% endif %}
 </div>   
</section>

<section>
  {% if site.email %}
  <h1>contact at</h1>
  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% endif %}
</section>
