---
layout: default
title: about
footer: false
---
<div class="container">
  <article role="article">
    <header>
      <h1 class="entry-title">projects</h1>
    </header> 
    <body>  
      <div class="projects-page">
        
        <ul>
          <li style="list-style: none; border-bottom: 1px dotted grey">
            <h2><a target="_blank" href="http://www.world-view.today">world-view.today</a></h2>
            <p>Web application utilizing Forecast.io, Twitter, Weather Underground, New York Times, and Flickr APIs to provide curated content from thousands of searchable cities around the world.</p>
            <img src="../images/projects/worldview/screenshot-newmain.png">
            <img src="../images/projects/worldview/screenshot-news-section.png">
            <img src="../images/projects/worldview/screenshot-photos-section.png">
          </li>
          <br>
          <li style="list-style: none">
            <h2><a target="_blank" href="http://www.odysee.voyage">odysee.voyage</a></h2>
            <p>Web application that creates maps of a user’s daily travels.</p>
            <img src="../images/projects/odysee/screenshot-main.png">
            <img src="../images/projects/odysee/screenshot-map2.png">
          </li>
        </ul>  


      </div>
    </body>
  </article>
</div>

{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}