<div class="about">
<!--      <span class="about-image">
          <img src="/images/author.jpg" alt="author name">
     </span> -->
     <span class="about-desc">
          <span>Amber is a web developer in New York who believes in creating beautiful, interactive stories through code. She is a lover of good coffee, good books, and good code.</span>
          <br>
          <a href="https://twitter.com/ambertunnell" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ambertunnell</a>
     </span>
</div>