<div class="about">
<!--      <span class="about-image">
          <img src="/images/author.jpg" alt="author name">
     </span> -->
     <span class="about-desc">
          <span>Amber is a current student at The Flatiron School in NYC learning Ruby and Web Development. She is a lover of good books and good code. And she drinks lots of coffee.</span>
          <br>
          <a href="https://twitter.com/ambertunnell" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ambertunnell</a>
     </span>
</div>