.sharing {
  p.meta + & {
    padding: { top: 1em; left: 0; right: 0; bottom: 1em }
    background: $img-border top left repeat-x;
    display: inline;
  }
}

.fb-like fb_iframe widget {
  padding: { top: 0em; left: 0; right: 0; bottom: 1em}
}

#fb-root { display: inline; }
