---
layout: default
title: about
footer: false
---
<div class="container">
<article role="article">
  <header>
    <h1 class="entry-title">about</h1>
  </header>   
<div class="about-page">
  <div class="about-me">
    <h2>a little about me</h2>
<p>Thomas Pynchon, in his book <em>The Crying of Lot 49</em>, describes the process of humans “creating constellations” in order to find meaning in life. It is natural for man to try to find patterns when faced with an overflow of seemingly random information.</p> 

<p>I am a current student in the web development program at The Flatiron School in New York City because I want to create my own constellations through computer programming by developing programs and software that will help make the world a better place to live and strive.</p>

<p>In the end, none of us know the meaning of life, but we must plunge on into the unknown anyway and attempt to make our mark in whatever little way we can despite not knowing. Even if the constellations are not “real” in the end, the effort of the ancient Greeks to even attempt to explain the placement of the stars is beautiful and awe-inspiring.</p>

<p>Even if we do live on an ephemeral mote of dust, at least we still strive—we wonder, we question, we create. All of which is evident by the creation and evolution of technology.</p> 

<p>My goal is to strive with others to continue to change, create, and inspire the world through the magic that is code—even if it is only for a brief moment in time.</p>

<p>Prior to the Flatiron School, I graduated from Columbia University with degrees in philosophy and English literature and worked in publishing.</p>


  <div class="social-media-section">
    <h2>let's connect</h2>
    {% if site.github_user %}
    <a href="https://github.com/{{site.github_user}}/" class="social_media" class="github" rel="tooltip" title="Github" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-github.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/github.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-github.png'" /></A>
    {% endif %}

    {% if site.stackoverflow_user %}
    <a href="http://stackoverflow.com/users/3826943/amber-tunnell" class="social_media" class="stackoverflow" rel="tooltip" title="Stack Overflow" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-stackoverflow.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/stackoverflow.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-stackoverflow.png'" /></A>
    {% endif %}

    {% if site.linkedin_user %}
    <a href="https://linkedin.com/in/{{site.linkedin_user}}/" class="social_media" class="linkedin" rel="tooltip" title="Linkedin" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-linkedin.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/linkedin.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-linkedin.png'" /></A>
    {% endif %}

    {% if site.twitter_user %}
    <a href="https://twitter.com/{{site.twitter_user}}/" class="social_media" class="twitter" rel="tooltip" title="Twitter" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-twitter.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/twitter.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-twitter.png'" /></A>
    {% endif %}
</div>
   <div class="email">
      {% if site.email %}
      <h2>or email me ~ <a href="mailto:{{ site.email }}">{{ site.email }}</a></h2>
      {% endif %}
    </div>
  </div>
</div>
</div> 

</article>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
   
