---
layout: default
title: about
footer: false
---
<article role="article">
  <header>
    <h1 class="entry-title">about</h1>
  </header>   
<div class="about-page">
  <div class="about-me">
    <h2>a little about me</h2>
    {% include asides/about.html %}
  </div> 

  <div class="social-media-section">
    <h2>let's connect</h2>
    {% if site.github_user %}
    <a href="https://github.com/{{site.github_user}}/" class="social_media" class="github" rel="tooltip" title="Github" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-github.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/github.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-github.png'" /></A>
    {% endif %}

    {% if site.stackoverflow_user %}
    <a href="http://stackoverflow.com/users/3826943/amber-tunnell" class="social_media" class="stackoverflow" rel="tooltip" title="Stack Overflow" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-stackoverflow.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/stackoverflow.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-stackoverflow.png'" /></A>
    {% endif %}

    {% if site.linkedin_user %}
    <a href="https://linkedin.com/in/{{site.linkedin_user}}/" class="social_media" class="linkedin" rel="tooltip" title="Linkedin" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-linkedin.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/linkedin.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-linkedin.png'" /></A>
    {% endif %}

    {% if site.twitter_user %}
    <a href="https://twitter.com/{{site.twitter_user}}/" class="social_media" class="twitter" rel="tooltip" title="Twitter" target="_blank"><img src="{{ root_url }}/images/social_icons/bw-twitter.png" 
    onmouseover="this.src='{{ root_url }}/images/social_icons/twitter.png'"
    onmouseout="this.src='{{ root_url }}/images/social_icons/bw-twitter.png'" /></A>
    {% endif %}
</div>
 <div class="email">
    {% if site.email %}
    <h2>or email me</h2>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    {% endif %}
  </div>

</div>
</article>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
   
