---
layout: default
title: about
footer: false
---
<div class="container">
<article role="article">
  <header>
    <h1 class="entry-title">about</h1>
  </header>   
<div class="about-page">
  <div class="about-me">
    <h2>a little about me</h2>

      <p>I'm a web developer and designer in New York who believes in creating beautiful, interactive stories through code.</p>

      <p>Prior to becoming a full-time web developer, I graduated from Columbia University and worked in the publishing and journalism industries.</p>

      <p>
        Visit my porfolio site <a target="_blank" href="http://www.ambertunnell.com">here</a>.
      <br>
        View my books on Amazon <a target="_blank" href="http://www.amazon.com/author/ambertunnell">here</a>.
      <br> 
        Read some of my articles <a target="_blank" href="http://columbiaspectator.com/contributors/amber-tunnell">here</a>.
      </p> 

      <p> In my spare time, I enjoy reading, exploring NYC, going to Broadway shows, collecting rare books, and running.</p>
                 
  <div class="social-media-section">
    <h2>find me on social media</h2>
      <a href="https://github.com/ambertunnell" class="social-media-icon github" rel="tooltip" title="Github" target="_blank"><i class="social_media fa fa-github fa-4x"></i></A>
      <a href="http://stackoverflow.com/users/3826943/amber-tunnell" class="social-media-icon stackoverflow" rel="tooltip" title="Stack Overflow" target="_blank"><i class=" social_media fa fa-stack-overflow fa-4x"></i></A>
      <a href="https://careers.stackoverflow.com/ambertunnell" class="social-media-icon" class="social-media-icon" rel="tooltip" title="Stack Overflow Careers" target="_blank"><i class="social_media fa fa-stack-exchange fa-4x"></i></A>
      <a href="https://linkedin.com/in/ambertunnell/" class="linkedin" class="social-media-icon" rel="tooltip" title="Linkedin" target="_blank"><i class="social_media fa fa-linkedin fa-4x"></i></A>
      <a href="https://twitter.com/ambertunnell" class="twitter" class="social-media-icon" rel="tooltip" title="Twitter" target="_blank"><i class="social_media fa fa-twitter fa-4x"></i></A>
      <a href="https://www.behance.net/ambertunnell" class="social-media-icon" rel="tooltip" title="Behance" target="_blank"><i class="social_media fa fa-behance fa-4x"></i></A>
      <a href="http://combustingstar.deviantart.com/" class="social-media-icon" rel="tooltip" title="Deviantart" target="_blank"><i class="social_media fa fa-deviantart fa-4x"></i></A>
      <a href="http://instagram.com/ambertunnell" class="social-media-icon" rel="tooltip" title="Instagram" target="_blank"><i class="social_media fa fa-instagram fa-4x"></i></A>
   </div>
   <div class="email">
      {% if site.email %}
      <h2>or email me ~ <a href="mailto:{{ site.email }}">{{ site.email }}</a></h2>
      {% endif %}
    </div>
  </div>
</div>
</div> 

</article>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
   
